.header {
  box-sizing: border-box;
  height: 109px;
  width: 1340px;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 92px 49px 96px 51px;
}

.header__menu {
  display: flex;
  flex-wrap: nowrap;
  width: 388px;
  height: 23px;
  flex-shrink: 0;
  margin-right: 205px;
  padding-top: 3px;
  padding-right: px;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  flex-shrink: 0;
  margin-top: 5px;
  margin-left: 3px;
}


.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__links-list {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  list-style: none;
  align-items: center;
  width: 388px;
  height: 23px;
}



.header__links-list-item_bullit {
  margin-left: 32px;
  list-style: circle;
  stroke-width: 1px;

}

.header__link {
  color: #000;
  font-size: 18px;
  line-height: normal;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px #000 solid;
}


.header__link_active .header__link {
  text-decoration: none;
  border-bottom: none;
}

.address {
  display: flex;
  width: 240px;
  height: 97px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.header__address {
  margin-left: 355px;
  margin-top: 6px;
}

.cover {
  position: relative;
  width: 1440px;
  height: 757px;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
  z-index: 2;
}

.cover__title {
  position: absolute;
  width: 100%;
  font-family: Raleway;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
  z-index: 3;
}

.aligned-text {
  display: block;
  margin: 165px 50px 20px 50px;
  height: 115px;
  line-height: 115%;
  letter-spacing: 30px; 
}

.aligned-text_center {
  box-sizing: border-box;
  width: 1280px;
  height: 100px;
  display: block;
  left: 50%;
  top: 50%;
  line-height: 100%; 
  letter-spacing: 30px;
  margin-left: 506px;
}

.aligned-text_right {
  display: block;
  box-sizing: border-box;
  text-align: right;
  margin: 10px 20px 0 50px;
  width: 1340px;
  height: 100px;
  letter-spacing: 30px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  position: absolute;
  z-index: 3;
  color: #FFF;
  margin: 653px 385px 63px 422px;
  gap: 78px; 

}

.cover__description-text {
  display: block;
  width: 633px;
  height: 28px;
  text-align: center;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  text-transform: uppercase;
  word-spacing: 17px;
  padding-top: 13px;
  padding-right: 0px;

}

.bet-button {
  display: block;
  width: 257px;
  height: 52px;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  align-items: center;
  border: 1px #fff solid;
  width: 257px;
  height: 52px;
  padding: 12px 32px 12px 32px;
}

.word-spacing-extended {
   word-spacing: 22px;
}




